<html>
<head>
<title>email-template</title>
<style type="text/css" id="hs-inline-css">
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 8.0pt;
	margin-left: 0cm;
	line-height: 107%;
	font-size: 11.0pt;
	font-family: "Calibri", sans-serif;

}
</style>
</head>
<body id="body">
	<div align=center>
		<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
			width=0 style='width: 480.0pt; border-collapse: collapse'>
			<tr>
				<td style='padding: 0cm 0cm 0cm 0cm'>
					<div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width=0
							style='width: 480.0pt; background: white; border-collapse: collapse'>
							<tr>
								<td width=650 valign=top
									style='width: 480.0pt; padding: 0cm 0cm 0cm 0cm'>
									<div align=center>
										<table class=NormaleTabelle border=0 cellspacing=0
											cellpadding=0 width=0
											style='width: 480.0pt; background: white; border-collapse: collaps'>
											<tr>
												<td width=640 valign=top
													style='width: 456.0pt; padding: 0cm 0cm 0cm 0cm'>
													<table class=NormaleTabelle border=0 cellspacing=0
														cellpadding=0 align=left width=0
														style='width: 456.0pt; background: white; border-collapse: collapse; margin-left: -1.8pt; margin-right: -1.8pt'>
														<tr>
															<td width=135
																style='width: 101.25pt; padding: 0cm 0cm 0cm 0cm'>
																<p class=MsoNormal
																	style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																	<span
																		style='font-size: 12.0pt; font-family: "Times New Roman", serif'>
																		<img
																		src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzyG9UaswGY0AljKXFlynPUgoYjsaaw_9DnIJWrZNt9Giv3jQ&s"
																		width="140" height="70">
																	</span>
																</p>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
						<tr>
								<td width=166
									style='width: 124.6pt; padding: 0cm' align=center>
									<div align="center" style="width: 100.0%; border-style: solid; border-color: #DEDEDE; border-width: 1px; border-right: none; border-bottom: none; border-left: none; color: transparent; font-size: 0.1px;">-</div>
								</td>
						</tr>
						</table>
					</div>
                    <div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
								<td width="100%"
									style='width: 100.0%; padding: 30.0pt 24.0pt 0cm 24.0pt'>
									<p class=MsoNormal
										style='margin-bottom: 0.25cm; line-height: 14.25pt'>
										<span lang=DE
											style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333'>Sehr
											geehrte Jürgen Schmidt,</span>
									</p>
								</td>
							</tr>
						</table>
					</div>
                    <div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
								<td width="100%"
									style='width: 100.0%; padding: 0cm 24.0pt 0cm 24.0pt'>
									<p class=MsoNormal
										style='margin-bottom: 0.25cm; line-height: 14.25pt'>
										<span lang=DE
											style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333'>Willkommen zum digitalen Service der Vodafone.</span>
									</p>
								</td>
							</tr>
						</table>
					</div>
                    <div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
								<td width="100%"
									style='width: 100.0%; padding: 0cm 24.0pt 0cm 24.0pt'>
									<p th:if="${not #strings.isEmpty(headerDate)}" class=MsoNormal
										align=right
										style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: right; line-height: 14.25pt'>
										<span th:text="${headerDate}" lang=DE
											style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333'></span>
									</p>
									<p class=MsoNormal
										style='margin-bottom: 0.25cm; line-height: 14.25pt'>
										<span lang=DE
											style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333'>Ihr Unternehmen ist jetzt für den digitalen Servicebereich für Geschäftskunden freigeschaltet und für Sie wurde ein Benutzerkonto angelegt.</span>
									</p>
								</td>
							</tr>
						</table>
					</div>
                    <div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
								<td width="100%"
									style='width: 100.0%; padding: 0cm 24.0pt 0cm 24.0pt'>
									<p class=MsoNormal
										style='margin-bottom: 0.25cm; line-height: 14.25pt'>
										<span lang=DE
											style='font-size: 12pt; font-family: "Arial", sans-serif; color: #333333'>Bitte klicken Sie bitte auf “Konto einrichten” um die Registrierung abzuschließen.</span>
									</p>
								</td>
							</tr>
						</table>
					</div>
					<div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
									<td width="100%"
									style='width: 100.0%; padding: 0cm 24.0pt 0cm 24.0pt'>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td style="padding: 12pt 24.0pt 12pt 24.0pt;  background-color: #e60000;" align="center">
													<a href="https://usermanagement-portal-dev.technical-service-portal-dev-vodafone.de/usermanagement/" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: bold;text-decoration: none; color: #ffffff; display: inline-block;"> Konto einrichten </a>
												</td>
											</tr>
										</table>
									</td>
							</tr>
						</table>
					</div>
                    <div>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
								<td width=166
									style='width: 124.6pt; padding: 30.0pt 24.0pt 0cm 24.0pt'>
									<p class=MsoNormal style=''>
									<div lang=DE
										style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333; display: block; margin-bottom: 0.1cm'>Freundliche
										Grüße</div>
									<div lang=DE
										style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333; margin-bottom: 0.5cm; display: block;'>Ihr
										Vodafone Team</div>
									</p>
								</td>
							</tr>
						</table>
					</div>
                    <div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
								<td width=166
									style='width: 124.6pt; padding: 0cm 18pt 0cm 18pt' align=center>
									<div align="center" style="width: 100.0%; border-style: solid; border-color: #2e2e2e; border-width: 1px; border-right: none; border-bottom: none; border-left: none; color: transparent; font-size: 0.1px;">-</div>
								</td>
							</tr>
						</table>
					</div>
                    </td>
			</tr>
            <!-- english  -->
            <tr>
				<td style='padding: 24.0pt 0cm 0cm 0cm; background: #f9f9f9'>
                    <div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; border-collapse: collapse'>
							<tr>
								<td width="100%"
									style='width: 100.0%; padding: 0cm 24.0pt 0cm 24.0pt'>
									<p class=MsoNormal
										style='margin-bottom: 0.25cm; line-height: 14.25pt'>
										<span lang=DE
											style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333'>Dear Jürgen Schmidt</span>
									</p>
								</td>
							</tr>
						</table>
					</div>
                    <div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
								<td width="100%"
									style='width: 100.0%; padding: 0cm 24.0pt 0cm 24.0pt'>
									<p class=MsoNormal
										style='margin-bottom: 0.25cm; line-height: 14.25pt'>
										<span lang=DE
											style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333'>Welcome to the digital Service of Vodafone. 
                                            Your company is now onboarded to our Business Customer Services and you've just been added as a user.
                                            </span>
									</p>
								</td>
							</tr>
						</table>
					</div>
                    <div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
								<td width="100%"
									style='width: 100.0%; padding: 0cm 24.0pt 0cm 24.0pt'>
									<p class=MsoNormal
										style='margin-bottom: 0.25cm; line-height: 14.25pt'>
										<span lang=DE
											style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333'>To complete the activation of your account, please click on the button below.
                                        </span>
									</p>
								</td>
							</tr>
						</table>
					</div>
					<div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
									<td width="100%"
									style='width: 100.0%; padding: 0cm 24.0pt 0cm 24.0pt'>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td style="padding: 12pt 24.0pt 12pt 24.0pt;  background-color: #e60000;" align="center">
													<a href="https://usermanagement-portal-dev.technical-service-portal-dev-vodafone.de/usermanagement/" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: bold;text-decoration: none; color: #ffffff; display: inline-block;">Set up Account  </a>
												</td>
											</tr>
										</table>
									</td>
							</tr>
						</table>
					</div>
                    <div>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width="100%"
							style='width: 100.0%; background: #f9f9f9; border-collapse: collapse'>
							<tr>
								<td width=166
									style='width: 124.6pt; padding: 30pt 24.0pt 0cm 24.0pt'>
									<p class=MsoNormal style=''>
									<div lang=DE
										style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333; display: block; margin-bottom: 0.1cm'>Best regards</div>
									<div lang=DE
										style='font-size: 12.0pt; font-family: "Arial", sans-serif; color: #333333; margin-bottom: 0.5cm; display: block;'>Your Vodafone BusinessTeam</div>
									</p>
								</td>
							</tr>
						</table>
					</div>
                    <div align=center>
						<table class=NormaleTabelle border=0 cellspacing=0 cellpadding=0
							width=0
							style='width: 480.0pt; background: #333333; border-collapse: collapse'>
							<tr>
								<td width=640 valign=top
									style='width: 480.0pt; padding: 18.0pt 24.0pt 0cm 24.0pt'>
									<div align=center>
										<table class=NormaleTabelle border=0 cellspacing=0
											cellpadding=0 width=0
											style='width: 432.0pt; background: #333333; border-collapse: collapse'>
											<tr>
												<td width=576 valign=top
													style='width: 432.0pt; padding: 0cm 0cm 0cm 0cm'>
													<div align=center>
														<table class=NormaleTabelle border=0 cellspacing=0
															cellpadding=0 width=0
															style='width: 195.0pt; background: #333333; border-collapse: collapse'>
															<tr style='height: .75pt'>
																<td width="12%" valign=top
																	style='width: 12.0%; padding: 0cm 0cm 0cm 0cm; height: .75pt'>
																	<p class=MsoNormal
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																		<a href="https://www.vodafone.de/business/featured/"
																			target="_blank"> <span
																			style='font-size: 12.0pt; font-family: "Times New Roman", serif; color: blue; text-decoration: none'>
																				<img border=0 width=32 height=31 id="Picture 22"
																				src="https://www.vodafone.de/images/v5/x2-IC-VF.png">
																		</span>
																		</a>
																	</p>
																</td>
																<td width="5%" valign=top
																	style='width: 5.0%; padding: 0cm 0cm 0cm 0cm; height: .75pt'>
																	<p class=MsoNormal
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																		<span lang=DE
																			style='font-size: 1.0pt; font-family: "Arial", sans-serif; color: #333333'>&nbsp;</span>
																		<span lang=DE
																			style='font-size: 12.0pt; font-family: "Times New Roman", serif'>
																		</span>
																	</p>
																</td>
																<td width="12%" valign=top
																	style='width: 12.0%; padding: 0cm 0cm 0cm 0cm; height: .75pt'>
																	<p class=MsoNormal
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																		<a
																			href="https://www.linkedin.com/authwall?trk=gf&amp;trkInfo=AQFjipbH9EhBwwAAAXJacYLASK-CqzKXV0lOXHhg-H5HyVROr8m_2xQ-5n-kJEB-w2glpJJfB-ZSH4iZasJFWeRThDOnwtghUO0haFlHxmy-qAv_dFYbZX751ee7-xzwEcwcZjM=&amp;originalReferer=&amp;sessionRedirect=https://www.linkedin.com/company/vodafone"
																			target="_blank"> <span
																			style='font-size: 12.0pt; font-family: "Times New Roman", serif; color: blue; text-decoration: none'>
																				<img border=0 width=32 height=32 id="Picture 21"
																				src="https://www.vodafone.de/images/v5/x2-IC-linkedin.png">
																		</span>
																		</a>
																	</p>
																</td>
																<td width="5%" valign=top
																	style='width: 5.0%; padding: 0cm 0cm 0cm 0cm; height: .75pt'>
																	<p class=MsoNormal
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																		<span lang=DE
																			style='font-size: 1.0pt; font-family: "Arial", sans-serif; color: #333333'>&nbsp;</span>
																		<span lang=DE
																			style='font-size: 12.0pt; font-family: "Times New Roman", serif'>
																		</span>
																	</p>
																</td>
																<td width="12%" valign=top
																	style='width: 12.0%; padding: 0cm 0cm 0cm 0cm; height: .75pt'>
																	<p class=MsoNormal
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																		<a
																			href="https://www.youtube.com/user/vodafonedeutschland"
																			target="_blank"> <span
																			style='font-size: 12.0pt; font-family: "Times New Roman", serif; color: blue; text-decoration: none'>
																				<img border=0 width=32 height=32 id="Picture 20"
																				src="https://www.vodafone.de/images/v5/icon-youtube-64x64.png">
																		</span>
																		</a>
																	</p>
																</td>
																<td width="5%" valign=top
																	style='width: 5.0%; padding: 0cm 0cm 0cm 0cm; height: .75pt'>
																	<p class=MsoNormal
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																		<span lang=DE
																			style='font-size: 1.0pt; font-family: "Arial", sans-serif; color: #333333'>&nbsp;</span><span
																			lang=DE
																			style='font-size: 12.0pt; font-family: "Times New Roman", serif'>
																		</span>
																	</p>
																</td>
																<td width="12%" valign=top
																	style='width: 12.0%; padding: 0cm 0cm 0cm 0cm; height: .75pt'>
																	<p class=MsoNormal
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																		<a href="https://www.xing.com/companies/vodafonegmbh"
																			target="_blank"><span
																			style='font-size: 12.0pt; font-family: "Times New Roman", serif; color: blue; text-decoration: none'><img
																				border=0 width=32 height=32 id="Picture 19"
																				src="https://www.vodafone.de/images/v5/x2-IC-xing.png">
																		</span> </a>
																	</p>
																</td>
																<td width="5%" valign=top
																	style='width: 5.0%; padding: 0cm 0cm 0cm 0cm; height: .75pt'>
																	<p class=MsoNormal
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																		<span lang=DE
																			style='font-size: 1.0pt; font-family: "Arial", sans-serif; color: #333333'>&nbsp;</span><span
																			lang=DE
																			style='font-size: 12.0pt; font-family: "Times New Roman", serif'>
																		</span>
																	</p>
																</td>
																<td width="12%" valign=top
																	style='width: 12.0%; padding: 0cm 0cm 0cm 0cm; height: .75pt'>
																	<p class=MsoNormal
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																		<a href="https://twitter.com/vodafone_de"
																			target="_blank"> <span
																			style='font-size: 12.0pt; font-family: "Times New Roman", serif; color: blue; text-decoration: none'><img
																				border=0 width=32 height=31 id="Picture 18"
																				src="https://www.vodafone.de/images/v5/x2-IC-twitter.png">
																		</span>
																		</a>
																	</p>
																</td>
																<td width="5%" valign=top
																	style='width: 5.0%; padding: 0cm 0cm 0cm 0cm; height: .75pt'>
																	<p class=MsoNormal
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
																		<span lang=DE
																			style='font-size: 1.0pt; font-family: "Arial", sans-serif; color: #333333'>&nbsp;</span><span
																			lang=DE
																			style='font-size: 12.0pt; font-family: "Times New Roman", serif'>
																		</span>
																	</p>
																</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
							<tr>
								<td width=640 valign=top
									style='width: 480.0pt; padding: 18.0pt 24.0pt 0cm 24.0pt'></td>
							</tr>
							<tr>
								<td width=640 valign=top
									style='width: 480.0pt; padding: 0cm 0cm 0cm 0cm'>
									<div align=center>
										<table class=NormaleTabelle border=0 cellspacing=0
											cellpadding=0 width=0
											style='width: 432.0pt; background: #333333; border-collapse: collapse'>
											<tr>
												<td align=center style='padding: 0cm 15pt 0cm 15pt;'>
													<div align=center
														style='width: 100%; border-style: solid; border-color: white; border-width: 3px; border-right: none; border-bottom: none; border-left: none; color: transparent; font-size: 0.1px;'>-</div>
												</td>
											</tr>
											<tr>
												<td width=576 valign=top
													style='width: 432.0pt; padding: 24.75pt 0cm 0cm 0cm;'>
													<p class=MsoNormal align=center
														style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal;'>
														<a
															href="https://www.vodafone.de/business/hilfe-support/beratung-logins.html"
															target="_blank"><b><span lang=DE
																style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white; text-decoration: none'>Kontakt</span></b></a><b><span
															lang=DE
															style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white'>
																&nbsp;|&nbsp; </span></b><a
															href="https://www.vodafone.de/business/digitalisierung/firmenkundenportal.html"
															target="_blank"><b><span lang=DE
																style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white; text-decoration: none'>Firmenkundenportal</span></b></a><b><span
															lang=DE
															style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white'>
														</span></b><span lang=DE
															style='font-size: 12.0pt; font-family: "Times New Roman", serif; display: none'><br>
														</span><b><span lang=DE
															style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white'>&nbsp;|&nbsp;
														</span></b><a href="https://www.vodafone.de/impressum.html"
															target="_blank"><b><span lang=DE
																style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white; text-decoration: none'>Impressum</span></b></a><b><span
															lang=DE
															style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white'>
																&nbsp;|&nbsp; </span></b><a
															href="https://www.vodafone.de/unternehmen/soziale-verantwortung/datenschutz-privatsphaere.html"
															target="_blank"><b><span lang=DE
																style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white; text-decoration: none'>Datenschutz</span></b></a><b><span
															lang=DE
															style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white'>
																&nbsp;|&nbsp; </span></b><a
															href="https://www.vodafone.de/business.html"
															target="_blank"><b><span lang=DE
																style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white; text-decoration: none'>vodafone.de/business</span></b></a><b><span
															lang=DE
															style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white'>
														</span></b>
													</p>
												</td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
							<tr>
								<td width=640 valign=top
									style='width: 480.0pt; padding: 0cm 0cm 0cm 0cm'>
									<div align=center>
										<table class=NormaleTabelle border=0 cellspacing=0
											cellpadding=0 width=0
											style='width: 480.0pt; background: #333333; border-collapse: collapse'>
											<tr>
												<td width="100%" valign=top
													style='width: 100.0%; padding: 0cm 0cm 0cm 0cm'>
													<div align=center>
														<table class=NormaleTabelle border=0 cellspacing=0
															cellpadding=0 width=0
															style='width: 432.0pt; background: #333333; border-collapse: collapse'>
															<tr>
																<td width=576 valign=top
																	style='width: 432.0pt; padding: 24.75pt 0cm 0cm 0cm'>
																	<p class=MsoNormal align=center
																		style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
																		<b><span lang=EN-GB
																			style='font-size: 10.0pt; font-family: "Arial", sans-serif; color: white'>Copyright&nbsp;©&nbsp;2020
																				Vodafone GmbH </span></b>
																	</p>
																</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
											<tr>
												<td width=640 valign=top
													style='width: 432.0pt; padding: 18.0pt 24.0pt 0cm 24.0pt'></td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
						</table>
					</div>
                    </td>
			</tr>
		</table>
	</div>
</body>
</html>
